body {
  margin: 0;
  padding: 0;
}

.box-noticia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card {
  width: 100%;
  margin-bottom: 20px; /* Adicione um espaço entre os cartões */
}

.card img {
  max-width: 100%;
  height: auto;
}

  #box-card{
    height: 35rem;

  }
  
