<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="" />
    <link rel="stylesheet" href="../css/home_style.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>APSIA</title>
  </head>
  <body>
    <header>
      <nav>
          <a class="logo" href="#">APSIA</a>
          <div class="mobile-menu">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
          </div>
          <ul class="nav-list">
              <li><a href="">Inicio</a></li>
              <li><a href="">Noticias</a></li>
              <li><a href="">Doenças Mentais</a></li>
              <li><a href="">Eventos</a></li>
              <li><a href="">Login</a></li>
              <li><a href="">Participe</a></li>
          </ul>
      </nav>
  </header>
    
      <section class="slider">

        <div class="slides">
          <!--Radio buttons-->
          <input type="radio" name="radio-btn" id="radio1">
          <input type="radio" name="radio-btn" id="radio2">
          <input type="radio" name="radio-btn" id="radio3">
          <input type="radio" name="radio-btn" id="radio4">
          <!--fim-->

          <!--slide imagens-->
            <div class="slide first">
              <img src="../imagens/restaurante.jpg" alt="teste1" />
            </div>
            <div class="slide">
              <img src="../imagens/Lucas.jpg" alt="teste2" />
            </div>
            <div class="slide">
              <img src="../imagens/Daniel.jpg" alt="teste3" />
            </div>
            <div class="slide">
              <img src="../imagens/caio.jpg" alt="teste4" />
            </div>
          <!--slide imagens fim-->
          
          <!--navigation auto-->
          <div class="navigation-auto">
              <div class="auto-btn1"></div>
              <div class="auto-btn2"></div>
              <div class="auto-btn3"></div>
              <div class="auto-btn4"></div>
          </div>

          <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
          </div>

        </div>

      </section>


    <!--<section class="">
      <div class="center-text">
      <a>Espaço para texto</a>
    </section>
  -->
    <section class="bread-background center-h1">
      <h1 class="custom-h1">
        <a>espaço</a>
      </h1>
    </section>

    <section class="menu add-flex add-padding">
      <div class="menu-images">
      </div>
      <div class="center-text">
        <a>espaço</a>
      </div>
    </section>

    <main class="cards">
      <section class="card contact">
          <div class="icon">
              <img src="../imagens/assets/Chat.png" alt="Contact us.">
          </div>
          <h3>Contact us.</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          <button>Learn More</button>
      </section>
      <section class="card shop">
          <div class="icon">
              <img src="../imagens/assets/Bag.png" alt="Shop here.">
          </div>
          <h3>Shop here.</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          <button>Learn More</button>
      </section>
      <section class="card about">
          <div class="icon">
              <img src="../imagens/assets/Play.png" alt="About us.">
          </div>
          <h3>About us.</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          <button>Learn More</button>
      </section>
  </main>

    <section class="add-flex reservation-section">
      <div class="center-text add-padding">
        <a>espaço</a>
      </div>
    </section>

    <footer>
      <button class="to-top"><i class="fa fa-chevron-up"></i>TOP</button>

      <div class="restaurant-info">
        <div class="locations">
          <h4>Locais</h4>
          <div class="location-1">
            <h5>Rua van ever 372<br />Rio de janeiro, RJ &#8212; 11231</h5>
          </div>
          <!--location-1-->
          <div class="location-2">
            <h5 style="right: 5px;">Estrada da Portela<br />Rio de Janeiro, RJ</h5>
          </div>
        </div>
        <!--locations end-->

        <div class="hours">
          <h4>Horários</h4>
          <div class="weekdays">
            <h5>
              Segunda - Terça<br />
              5:30pm - 10:00pm
            </h5>
          </div>
          <!--weekdays end-->

          <div class="weekends">
            <h5>
              Sexta & Sábado<br />
              5:30pm - 11:00pm
            </h5>
          </div>
          <!--weekends end-->

          <div class="private-events">
            <h5>
              Avaliamos sua privacidade<br />
              Eventos aos sábados
            </h5>
          </div>
        </div>
        <!--hours end-->
      </div>
      <!--restaurant-info end-->

      <div class="copyright">
        <p>
          <small
            >Copyright 2014 &#169; Feito sobe permissão Capital Buffet
            <span>Team Capital Buffet</span> time</small
          >
        </p>
        <p><small>Permissions and Copyright &#8226; Contact The Team</small></p>
      </div>
    </footer>
    <script src="../javascript/home.js"></script>
  </body>
</html>
