<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="" />
    <link rel="stylesheet" href="../css/noticias_style.css" />
    <link rel="stylesheet" href="../css/home_style.css" />

  </head>

  <body>
    <header>
      <nav>
        <div class="nav-title">
          <img src="../imagens/logopequena.png">
          <a class="logo" href="#">APSIA</a>
        </div>
          <div class="mobile-menu">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
          </div>
          <ul class="nav-list">
              <li><a href="">Inicio</a></li>
              <li><a href="">Noticias</a></li>
              <li><a href="">Doenças Mentais</a></li>
              <li><a href="">Eventos</a></li>
              <li><a href="">Login</a></li>
              <li><a href="">Participe</a></li>
          </ul>
      </nav>
  </header>


      <div class="npblock" id="npblock1">
        <div class="npstory" id="npstory1">
          <div class="nppic" id="nppic1"><img src="includes/news/news_1/storyimgbig.png" alt="blue DNA"></div>
          <div class="nptext">
            <h8><?php include('includes/news/news_1/headline.php'); ?></h8>
            <p><?php include('includes/news/news_1/tease.php'); ?></p>
          </div>
        </div>
        <div class="npstory" id="npstory2">
          <div class="nppic" id="nppic2"><img src="includes/news/news_2/storyimgbig.png" alt="writing on glass"></div>
          <div class="nptext">
            <h3><?php include('includes/news/news_2/headline.php'); ?></h3>
            <p><?php include('includes/news/news_2/tease.php'); ?></p>
          </div>
        </div>
        <div class="npstory" id="npstory3">
          <div class="nppic" id="nppic3"><img src="includes/news/news_3/storyimgbig.png" alt="writing on glass"></div>
          <div class="nptext">
            <h3><?php include('includes/news/news_3/headline.php'); ?></h3>
            <p><?php include('includes/news/news_3/tease.php'); ?></p>
          </div>
        </div>
      </div>
      <div class="npblock" id="npblock2">
        <div class="npstory" id="npstory6">
          <div class="nppic" id="nppic6"><img src="includes/news/news_6/storyimgbig.png" alt="writing on glass"></div>
          <div class="nptext">
            <h8><?php include('includes/news/news_6/headline.php'); ?></h8>
            <p><?php include('includes/news/news_6/tease.php'); ?></p>
          </div>
        </div>
        <div class="npstory" id="npstory5">
          <div class="nppic" id="nppic5"><img src="includes/news/news_5/storyimgbig.png" alt="writing on glass"></div>
          <div class="nptext">
            <h3><?php include('includes/news/news_5/headline.php'); ?></h3>
            <p><?php include('includes/news/news_5/tease.php'); ?></p>
          </div>
        </div>
        <div class="npstory" id="npstory4">
          <div class="nppic" id="nppic4"><img src="includes/news/news_4/storyimgbig.png" alt="writing on glass"></div>
          <div class="nptext">
            <h3><?php include('includes/news/news_4/headline.php'); ?></h3>
            <p><?php include('includes/news/news_4/tease.php'); ?></p>
          </div>
        </div>
      </div>
      </div>
      <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <h1>Apsia</h1>
                <p>Apoio Psicológico e Suporte com Inteligencia Artificial</p>
  
                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
  
                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
  
                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Contate-nos</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Tech</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Adventures</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Music</a>
                </li>
            </ul>
  
            <ul class="footer-list">
                <li>
                    <h3>Projeto para a Feira de ciencias</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Celular</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Computadores</a>
                </li>
                <li>
                    <a href="#" class="footer-link">ipads</a>
                </li>
            </ul>
  
            <div id="footer_subscribe">
                <h3>Inscreva-se</h3>
  
                <p>
                    Entre com seu e-mail para receber notificações das possiveis atualizações e noticiais
                </p>
  
                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>
  
        <div id="footer_copyright">
            &#169
            2023 all rights reserved
        </div>
    </footer>


    <script src="../javascript/home.js"></script>
  </body>
</html>
